# ACTIVE CONNECTION
# DATABASE_URL="REDACTED_SECRET?sslmode=require&channel_binding=require"
DATABASE_URL='REDACTED_SECRET'

# DOCKER (UNUSED)
POSTGRES_USER=user1
POSTGRES_PASSWORD=REDACTED_SECRET
POSTGRES_DB=esg_db

# CONTD
JWT_SECRET="REDACTED_SECRET"
ALLOWED_ORIGINS=http://localhost:3000,https://frontend-horizon.netlify.app

#Brevo Credentials
BREVO_API_KEY=REDACTED_SECRET
SENDER_EMAIL=esghorizon@gmail.com
FRONTEND_URL=http://localhost:3001

#Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=djbzzz4sm
CLOUDINARY_API_KEY=REDACTED_SECRET
CLOUDINARY_API_SECRET=REDACTED_SECRET
UPLOAD_DEFAULT_FOLDER=esg/uploads
UPLOAD_MAX_FILE_SIZE=5242880 # 5 MB
